.socials {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 auto;
  justify-content: right;
}

.new-content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  justify-content: center;
  margin: 15px 0;

  @media (--phone) {
    margin-top: 0;
  }
}

.new-a {
    border-bottom: 3px solid blueviolet;
    color: inherit;
    text-decoration: none;
}